.detailCard--Heading {
  padding: 10px;
  font-size: 1.5em;
  margin-bottom: 5px

}

.detailCard {
  background-color: #eef0f2;
  border: 3px solid #847996
}

.pill {
  font-size: 1em
}

.icon-plus {
  font-weight: bold
}

.detailCard--ul {
  margin: 0 auto
}

.detailCard--li {
  background-color: #847996;
  margin: 2px;
  color: #eef0f2
}