 body {
   background-image: url("../images/birthday-box-gift-157879.jpg");
   background-repeat: no-repeat;
   background-attachment: fixed;


   margin-top: 100px


 }

 .upcoming {
   max-width: 800px;
   margin: 0 auto

 }

 li, .card {
   opacity: .8;
 }

 .badge {
   font-weight: 300
 }

 i {
   cursor: pointer;
 }